spec:
  glance:
    enabled: true
    template:
      databaseInstance: openstack
      keystoneEndpoint: nfs
      glanceAPIs:
        nfs:
          replicas: 3
          type: single
          customServiceConfig: |
            [DEFAULT]
            enabled_backends = default_backend:file
            [glance_store]
            default_backend = default_backend
            [default_backend]
            filesystem_store_datadir = /var/lib/glance/images/
          override:
            service:
              internal:
                metadata:
                  annotations:
                    metallb.universe.tf/address-pool: internalapi
                    metallb.universe.tf/allow-shared-ip: internalapi
                    metallb.universe.tf/loadBalancerIPs: {{ internalapi_prefix | default('172.17.0') }}.80
                spec:
                  type: LoadBalancer
          networkAttachments:
            - storage
      extraMounts:
      - extraVol:
        - extraVolType: NFS
          mounts:
          - mountPath: /var/lib/glance/images
            name: nfs
          volumes:
          - name: nfs
            nfs:
              path: "{{ glance_nfs_server_path }}"
              server: "{{ glance_nfs_server_addr }}"
        name: r1
        region: r1
