spec:
  glance:
    template:
      customServiceConfig: |
        [DEFAULT]
        enabled_backends = default_backend:file
        [glance_store]
        default_backend = default_backend
        [default_backend]
        filesystem_store_datadir = /var/lib/glance/images/
      databaseInstance: openstack
      glanceAPIs:
        default:
          replicas: 1
          type: single
      extraMounts:
      - extraVol:
        - extraVolType: NFS
          mounts:
          - mountPath: /var/lib/glance/images
            name: nfs
          volumes:
          - name: nfs
            nfs:
              path: "{{ nfs_server_path }}"
              server: "{{ nfs_server_address }}"
        name: r1
        region: r1
