/.bundle
/docs_build
/Gemfile.lock
/local
/tests/config/base/tls_overrides.yaml
/tests/config/tmp
/tests/secrets.yaml
/tests/playbooks/tmp
/tests/vars.yaml
/tests/logs

.vscode
/venv

# rendered docs
/site

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
