# Define the "cinder-volume-ontap-secrets" Secret that contains sensitive
# information pertaining to the ontap-based backends.
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-volume
  name: cinder-volume-ontap-secrets
type: Opaque
stringData:
  ontap-cinder-secrets: |
    [{{ cinder_netapp_backend }}]
    netapp_server_hostname = {{ cinder_netapp_config.netapp_server_hostname }}
    netapp_login = {{ cinder_netapp_config.netapp_login }}
    netapp_password = {{ cinder_netapp_config.netapp_password }}
    netapp_vserver = {{ cinder_netapp_config.netapp_vserver }}
{% if cinder_volume_backend == 'ontap-nfs' %}
    nas_host = {{ cinder_netapp_share_config.nfs_server }}
    nas_share_path = {{ cinder_netapp_share_config.nfs_path }}
{% endif %}
{% if cinder_volume_backend == 'ontap-iscsi' %}
    netapp_pool_name_search_pattern = {{ cinder_netapp_config.netapp_pool_name_search_pattern|default('') }}
{% endif %}
