# Define the "cinder-volume-ontap-secrets" Secret that contains sensitive
# information pertaining to the [ontap] backend.
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-volume
  name: cinder-volume-ontap-secrets
type: Opaque
stringData:
  ontap-cinder-secrets: |
    [ontap-nfs]
    netapp_server_hostname = {{ netapp_config.netapp_server_hostname }}
    netapp_login = {{ netapp_config.netapp_login }}
    netapp_password = {{ netapp_config.netapp_password }}
    netapp_vserver = {{ netapp_config.netapp_vserver }}
    nas_host = {{ nfs_server }}
    nas_share_path = {{ nfs_path }}
