spec:
  cinder:
    template:
      cinderVolumes:
        pure-fc:
          networkAttachments:
            - storage
          customServiceConfig: |
            [{{ cinder_pure_backend }}]
            backend_host=hostgroup
            volume_backend_name={{ cinder_pure_backend }}
            volume_driver=cinder.volume.drivers.pure.PureFCDriver
            consistencygroup_support=True
          customServiceConfigSecrets:
            - cinder-volume-pure-secrets
