# Define the "cinder-volume-pure-secrets" Secret that contains sensitive
# information pertaining to the pure-based backends.
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-volume
  name: cinder-volume-pure-secrets
type: Opaque
stringData:
  pure-cinder-secrets: |
    [{{ cinder_pure_backend }}]
    san_ip = {{ cinder_pure_config.san_ip }}
    pure_api_token = {{ cinder_pure_config.pure_api_token }}
