apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack
spec:
  cinder:
    template:
      cinderAPI:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-api:{{ container_tag }}
      cinderScheduler:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-scheduler:{{ container_tag }}
      cinderBackup:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-backup:{{ container_tag }}
      cinderVolumes:
        volume1:
            containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-volume:{{ container_tag }}

  glance:
    template:
      glanceAPIInternal:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-glance-api:{{ container_tag }}
      glanceAPIExternal:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-glance-api:{{ container_tag }}

  horizon:
    template:
      containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-horizon:{{ container_tag }}

  ironic:
    template:
      ironicConductors: []

  keystone:
    template:
      containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-keystone:{{ container_tag }}

  manila:
    template:
      manilaAPI:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-api:{{ container_tag }}
      manilaScheduler:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-scheduler:{{ container_tag }}
      manilaShares:
        volume1:
            containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-share:{{ container_tag }}

  mariadb:
    templates:
      openstack:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-mariadb:{{ container_tag }}
      openstack-cell1:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-mariadb:{{ container_tag }}

  memcached:
    templates:
      memcached:
        containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-memcached:{{ container_tag }}

  neutron:
    template:
      containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-neutron-server:{{ container_tag }}

  nova:
    enabled: false
    template: {}

  ovn:
    template:
      ovnController:
        ovnContainerImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-controller:{{ container_tag }}
        ovsContainerImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-base:{{ container_tag }}
      ovnDBCluster:
        ovndbcluster-nb:
            containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-nb-db-server:{{ container_tag }}
        ovndbcluster-sb:
            containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-sb-db-server:{{ container_tag }}

  placement:
    template:
      containerImage: {{ container_registry }}/{{ container_namespace }}/openstack-placement-api:{{ container_tag }}

