apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack
spec:
  secret: osp-secret
  storageClass: {{ storage_class_name }}

  barbican:
    enabled: false
    template:
      barbicanAPI: {}
      barbicanWorker: {}
      barbicanKeystoneListener: {}

  cinder:
{% if enable_unique_pod_names %}
    uniquePodNames: true
{% endif %}
    enabled: false
    template:
      cinderAPI: {}
      cinderScheduler: {}
      cinderBackup: {}
      cinderVolumes: {}

  dns:
    template:
      override:
        service:
          metadata:
            annotations:
              metallb.universe.tf/address-pool: ctlplane
              metallb.universe.tf/allow-shared-ip: ctlplane
              metallb.universe.tf/loadBalancerIPs: {{ dns_lb_ip }}
          spec:
            type: LoadBalancer
      options:
      - key: server
        values:
        - {{ dns_server_ip }}
      replicas: 1

  glance:
{% if enable_unique_pod_names %}
    uniquePodNames: true
{% endif %}
    enabled: false
    template:
      glanceAPIs: {}

  heat:
    enabled: false
    template: {}

  horizon:
    enabled: false
    template: {}

  ironic:
    enabled: false
    template:
      ironicConductors: []

  keystone:
    enabled: false
    template: {}

  manila:
    enabled: false
    template:
      manilaAPI: {}
      manilaScheduler: {}
      manilaShares: {}

  galera:
    enabled: true
    templates:
      openstack:
        secret: osp-secret
        replicas: 1
        storageRequest: 1Gi
{% for cell in renamed_cells %}
      openstack-{{ cell }}:
        secret: osp-secret
        replicas: 1
        storageRequest: 1Gi
{% endfor %}

  memcached:
    enabled: true
    templates:
      memcached:
        replicas: 1

  neutron:
    enabled: false
    template: {}

  nova:
    enabled: false
    template: {}

  ovn:
    enabled: false
    template:
      ovnController:
        networkAttachment: tenant
        nodeSelector:
          node: non-existing-node-name
      ovnNorthd:
        replicas: 0
      ovnDBCluster:
        ovndbcluster-nb:
          replicas: 3
          dbType: NB
          networkAttachment: internalapi
        ovndbcluster-sb:
          replicas: 3
          dbType: SB
          networkAttachment: internalapi

  octavia:
    enabled: false
    template: {}

  placement:
    enabled: false
    template: {}

  rabbitmq:
    templates:
      rabbitmq:
        persistence:
          storage: 3Gi
        override:
          service:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: internalapi
                {% if ipv6_enabled | default(false) -%}
                metallb.universe.tf/loadBalancerIPs: {{ internalapi_prefix_ipv6 | default('2620:cf:cf:bbbb') }}::55
                {%- else -%}
                metallb.universe.tf/loadBalancerIPs: {{ internalapi_prefix | default('172.17.0') }}.85
                {%- endif %}

            spec:
              type: LoadBalancer
{% set ind = {'val': 56 if ipv6_enabled | default(false) else 86} %}
{% for cell in renamed_cells %}
      rabbitmq-{{ cell }}:
        persistence:
          storage: 3Gi
        override:
          service:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: internalapi
                {% if ipv6_enabled | default(false) -%}
                metallb.universe.tf/loadBalancerIPs: {{ internalapi_prefix_ipv6 | default('2620:cf:cf:bbbb') }}::{{ ind.val }}
                {%- else -%}
                metallb.universe.tf/loadBalancerIPs: {{ internalapi_prefix | default('172.17.0') }}.{{ ind.val }}
                {%- endif %}

            spec:
              type: LoadBalancer
{% set _ = ind.update({'val': ind.val + 1}) %}
{% endfor %}

  telemetry:
    enabled: false

  swift:
    enabled: false
    template:
      swiftRing:
        ringReplicas: 1
      swiftStorage:
        replicas: 0
      swiftProxy:
        replicas: 1

  tls:
{% if enable_tlse %}
    podLevel:
      enabled: true
      internal:
        ca:
          customIssuer: rootca-internal
      libvirt:
        ca:
          customIssuer: rootca-internal
      ovn:
        ca:
          customIssuer: rootca-internal
    ingress:
      ca:
        customIssuer: rootca-internal
      enabled: true
{% else %}
    podLevel:
      enabled: false
    ingress:
      enabled: false
{% endif %}
