apiVersion: core.openstack.org/v1beta1
kind: OpenStackVersion
metadata:
  name: openstack
  namespace: openstack
spec:
  customContainerImages:
    aodhAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-aodh-api:{{ container_tag }}
    aodhEvaluatorImage: {{ container_registry }}/{{ container_namespace }}/openstack-aodh-evaluator:{{ container_tag }}
    aodhListenerImage: {{ container_registry }}/{{ container_namespace }}/openstack-aodh-listener:{{ container_tag }}
    aodhNotifierImage: {{ container_registry }}/{{ container_namespace }}/openstack-aodh-notifier:{{ container_tag }}
    barbicanAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-barbican-api:{{ container_tag }}
    barbicanKeystoneListenerImage: {{ container_registry }}/{{ container_namespace }}/openstack-barbican-keystone-listener:{{ container_tag }}
    barbicanWorkerImage: {{ container_registry }}/{{ container_namespace }}/openstack-barbican-worker:{{ container_tag }}
    ceilometerCentralImage: {{ container_registry }}/{{ container_namespace }}/openstack-ceilometer-central:{{ container_tag }}
    ceilometerComputeImage: {{ container_registry }}/{{ container_namespace }}/openstack-ceilometer-compute:{{ container_tag }}
    ceilometerIpmiImage: {{ container_registry }}/{{ container_namespace }}/openstack-ceilometer-ipmi:{{ container_tag }}
    ceilometerNotificationImage: {{ container_registry }}/{{ container_namespace }}/openstack-ceilometer-notification:{{ container_tag }}
    cinderAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-api:{{ container_tag }}
    cinderBackupImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-backup:{{ container_tag }}
    cinderSchedulerImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-scheduler:{{ container_tag }}
    cinderVolumeImage: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-volume:{{ container_tag }}
    edpmFrrImage: {{ container_registry }}/{{ container_namespace }}/openstack-frr:{{ container_tag }}
    edpmIscsidImage: {{ container_registry }}/{{ container_namespace }}/openstack-iscsid:{{ container_tag }}
    edpmLogrotateCrondImage: {{ container_registry }}/{{ container_namespace }}/openstack-cron:{{ container_tag }}
    edpmMultipathdImage: {{ container_registry }}/{{ container_namespace }}/openstack-multipathd:{{ container_tag }}
    edpmNeutronMetadataAgentImage: {{ container_registry }}/{{ container_namespace }}/openstack-neutron-metadata-agent-ovn:{{ container_tag }}
    edpmNeutronSriovAgentImage: {{ container_registry }}/{{ container_namespace }}/openstack-neutron-sriov-agent:{{ container_tag }}
    edpmOvnBgpAgentImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-bgp-agent:{{ container_tag }}
    glanceAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-glance-api:{{ container_tag }}
    heatAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-heat-api:{{ container_tag }}
    heatCfnapiImage: {{ container_registry }}/{{ container_namespace }}/openstack-heat-api-cfn:{{ container_tag }}
    heatEngineImage: {{ container_registry }}/{{ container_namespace }}/openstack-heat-engine:{{ container_tag }}
    horizonImage: {{ container_registry }}/{{ container_namespace }}/openstack-horizon:{{ container_tag }}
    infraDnsmasqImage: {{ container_registry }}/{{ container_namespace }}/openstack-neutron-server:{{ container_tag }}
    infraMemcachedImage: {{ container_registry }}/{{ container_namespace }}/openstack-memcached:{{ container_tag }}
    ironicAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-ironic-api:{{ container_tag }}
    ironicConductorImage: {{ container_registry }}/{{ container_namespace }}/openstack-ironic-conductor:{{ container_tag }}
    ironicInspectorImage: {{ container_registry }}/{{ container_namespace }}/openstack-ironic-inspector:{{ container_tag }}
    ironicNeutronAgentImage: {{ container_registry }}/{{ container_namespace }}/openstack-ironic-neutron-agent:{{ container_tag }}
    ironicPxeImage: {{ container_registry }}/{{ container_namespace }}/openstack-ironic-pxe:{{ container_tag }}
    ironicPythonAgentImage: {{ container_registry }}/{{ container_namespace }}/ironic-python-agent:{{ container_tag }}
    keystoneAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-keystone:{{ container_tag }}
    manilaAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-api:{{ container_tag }}
    manilaSchedulerImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-scheduler:{{ container_tag }}
    manilaShareImage: {{ container_registry }}/{{ container_namespace }}/openstack-manila-share:{{ container_tag }}
    mariadbImage: {{ container_registry }}/{{ container_namespace }}/openstack-mariadb:{{ container_tag }}
    neutronAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-neutron-server:{{ container_tag }}
    novaAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-nova-api:{{ container_tag }}
    novaComputeImage: {{ container_registry }}/{{ container_namespace }}/openstack-nova-compute:{{ container_tag }}
    novaConductorImage: {{ container_registry }}/{{ container_namespace }}/openstack-nova-conductor:{{ container_tag }}
    novaNovncImage: {{ container_registry }}/{{ container_namespace }}/openstack-nova-novncproxy:{{ container_tag }}
    novaSchedulerImage: {{ container_registry }}/{{ container_namespace }}/openstack-nova-scheduler:{{ container_tag }}
    octaviaAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-octavia-api:{{ container_tag }}
    octaviaHealthmanagerImage: {{ container_registry }}/{{ container_namespace }}/openstack-octavia-health-manager:{{ container_tag }}
    octaviaHousekeepingImage: {{ container_registry }}/{{ container_namespace }}/openstack-octavia-housekeeping:{{ container_tag }}
    octaviaWorkerImage: {{ container_registry }}/{{ container_namespace }}/openstack-octavia-worker:{{ container_tag }}
    openstackClientImage: {{ container_registry }}/{{ container_namespace }}/openstack-openstackclient:{{ container_tag }}
    osContainerImage: {{ container_registry }}/{{ container_namespace }}/edpm-hardened-uefi:{{ container_tag }}
    ovnControllerImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-controller:{{ container_tag }}
    ovnControllerOvsImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-base:{{ container_tag }}
    ovnNbDbclusterImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-nb-db-server:{{ container_tag }}
    ovnNorthdImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-northd:{{ container_tag }}
    ovnSbDbclusterImage: {{ container_registry }}/{{ container_namespace }}/openstack-ovn-sb-db-server:{{ container_tag }}
    placementAPIImage: {{ container_registry }}/{{ container_namespace }}/openstack-placement-api:{{ container_tag }}
    rabbitmqImage: {{ container_registry }}/{{ container_namespace }}/openstack-rabbitmq:{{ container_tag }}
    swiftAccountImage: {{ container_registry }}/{{ container_namespace }}/openstack-swift-account:{{ container_tag }}
    swiftContainerImage: {{ container_registry }}/{{ container_namespace }}/openstack-swift-container:{{ container_tag }}
    swiftObjectImage: {{ container_registry }}/{{ container_namespace }}/openstack-swift-object:{{ container_tag }}
    swiftProxyImage: {{ container_registry }}/{{ container_namespace }}/openstack-swift-proxy-server:{{ container_tag }}
    cinderVolumeImages:
      default: {{ container_registry }}/{{ container_namespace }}/openstack-cinder-volume:{{ container_tag }}
    manilaShareImages:
      default: {{ container_registry }}/{{ container_namespace }}/openstack-manila-share:{{ container_tag }}
