---
apiVersion: v1
kind: Secret
metadata:
  name: osp-secret-manila-netapp
  namespace: openstack
stringData:
  netapp-secrets.conf : |
    [netapp]
    netapp_server_hostname = {{ netapp_config.netapp_server_hostname }}
    netapp_login = {{ netapp_config.netapp_login }}
    netapp_password = {{ netapp_config.netapp_password }}
    netapp_vserver = {{ netapp_config.netapp_vserver }}
