heat_template_version: newton

description: >
  Inject stuff at the end of the deployment

parameters:
  servers:
    type: json
  DeployIdentifier:
    type: string
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json

resources:
  CustomExtraConfig:
    type: OS::Heat::SoftwareConfig
    properties:
      group: script
      config: |
        #!/bin/sh
        set -x
        ip route del default via 192.168.111.1 || true

  CustomExtraDeployments:
    type: OS::Heat::SoftwareDeploymentGroup
    properties:
      config: {get_resource: CustomExtraConfig}
      servers: {get_param: servers}
      actions: ['CREATE', 'UPDATE']
      input_values:
        deploy_identifier: {get_param: DeployIdentifier}
